*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(34,11,250);
    background: radial-gradient(circle, rgba(34,11,250,1) 0%, rgba(3,32,65,1) 100%);
    color: aliceblue;
}

.navbar{
    background-color: #05143d;
 
}
.container-fluid a:active, .container-fluid a:visited{
    color: aliceblue;
}
.container-fluid a {
    color: aliceblue;
}
.container-fluid a:hover {
    color: rgb(200, 205, 209);
}
.card{  color:  rgba(3,32,65,1);
    background: linear-gradient(150deg, #77ecbf, #4a6eff 100%);}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(34,11,250,1) 0%, rgba(3,32,65,1) 100%);

    }

    #loader::after{
    content: '';
    width:74px ;
    height:74px ;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}




@keyframes loading {
    from{
        transform:rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

#showMoreBtn{
    width: 10rem;
   display: none;
  margin-left: 40%;
   margin-bottom : 4rem;
   cursor: pointer;
   z-index: 99;
  
}




#topBtn {
    display: none; 
    position: fixed; 
    bottom: 3rem; 
    right: 3rem; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(226, 226, 226) ;
    color:  rgba(3,32,65,1); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 1.5rem; 
}
#topBtn:hover{ background-color:rgb(184, 182, 182) ;}
  .hidden{
    display: none;
  }
 