* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  background: rgb(34, 11, 250);
  background: radial-gradient(
    circle,
    rgba(34, 11, 250, 1) 0%,
    rgba(3, 32, 65, 1) 100%
  );
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

#typeText {
  font-size: 30px;
}
.navbar {
  background-color: #05143d;
}
.container-fluid a:active,
.container-fluid a:visited {
  color: aliceblue;
}
.container-fluid a {
  color: aliceblue;
}
.container-fluid a:hover {
  color: rgb(200, 205, 209);
}
.card {
  width: 18rem;
  color: rgba(3, 32, 65, 1);
  background: linear-gradient(150deg, #77ecbf, #4a6eff 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(34, 11, 250, 1) 0%,
    rgba(3, 32, 65, 1) 100%
  );
}

#loader::after {
  content: "";
  width: 74px;
  height: 74px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#showMoreBtn {
  width: 10rem;
  display: none;
  margin-left: 40%;
  margin-bottom: 2.5rem;
  cursor: pointer;
  z-index: 99;
}

#topBtn {
  position: fixed;
  bottom: 7rem;
  right: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(226, 226, 226);
  color: rgba(3, 32, 65, 1);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 1px 1px 2px #000;
}
#topBtn:hover {
  background-color: rgb(184, 182, 182);
}
.hidden {
  display: none;
}
.hidden-footer {
  display: none !important;
}
#footer {
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  padding: 2rem;
  background: linear-gradient(150deg, #3cce96, #0828a9 100%);
  color: white !important;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
#year {
  margin-right: 1rem;
}
#footerContainer {
  z-index: 99;
  top: 100vh;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  width: 100%;
  position: sticky;
  background: linear-gradient(150deg, #3cce96, #0828a9 100%);
}
.showMoreContainer {
  display: flex;
  margin-bottom: auto;
}

@media only screen and (min-width: 300px) and (max-width: 374px) {
  #showMoreBtn {
    margin-bottom: 1rem;
    margin-left: 22%;
    margin-right: 20%;
  }

  #topBtn {
    bottom: 7.8rem;
    right: 0.2rem;
    padding: 5px;
  }
  #typeText {
    font-size: 20px;
    padding-top: 2rem;
    margin-left: 5%;
    margin-right: 4%;
  }
  .row {
    justify-content: center;
  }
  body {
    font-size: small;
  }
  .card {
    width: 16rem;
    font-size: small;
  }
}
@media only screen and (min-width: 375px) and (max-width: 430px) {
  #showMoreBtn {
    margin-bottom: 1.5rem;
    margin-left: 27%;
    margin-right: 20%;
  }
  .row {
    justify-content: center;
  }
  #topBtn {
    bottom: 7rem;
    right: 0.8rem;
    padding: 5px;
  }
  #typeText {
    font-size: 20px;
    margin-left: 4%;
    margin-right: 4%;
  }

  body {
    font-size: small;
  }
  .card {
    width: 16rem;
    font-size: small;
  }
}
@media only screen and (min-width: 431px) and (max-width: 767px) {
  #showMoreBtn {
    bottom: 1.5rem;
    margin-left: 30%;
    margin-right: 20%;
  }
  #typeText {
    font-size: 24px;
    margin-left: 4%;
  }
  .row {
    justify-content: center;
  }
  #topBtn {
    bottom: 9rem;
    right: 1.2rem;
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  #showMoreBtn {
    margin-top: 2rem;
    bottom: 1rem;
    margin-left: 38%;
  }
  .row {
    justify-content: center;
  }
  #topBtn {
    right: 1rem;
    bottom: 7.5rem;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  #topBtn {
    right: 0.5rem;
    bottom: 7.5rem;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1440px) {
  #topBtn {
    margin-right: 0rem;
    bottom: 9rem;
  }

  #showMoreBtn {
    margin-top: 1rem;
    bottom: 1rem;
    margin-left: 42%;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 3000px) {
  #showMoreBtn {
    margin-top: 2rem;
    margin-left: 43%;
  }

  #topBtn {
    bottom: 14rem;
  }
  #footer {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1520px) {
  #topBtn {
    margin-right: 3rem;
    bottom: 15rem;
  }

  #footer {
    padding: 4rem;
  }
}
@media only screen and (min-width: 2000px) {
  #topBtn {
    margin-right: 7rem;
    bottom: 16rem;
  }
}
